<div class="container">
  <form [formGroup]="costumerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleFormControlInput1">DNI: </label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="12345678"
        formControlName="dni"
        pattern="[1-9]{8}"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre: </label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Pedro"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Apellido: </label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Picapiedra"
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email: </label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Telefono: </label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="3777-123456"
        formControlName="phoneNumber"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Tipo cliente: </label>
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        formControlName="costumerType"
      >
        <option value="NORMAL">NORMAL</option>
        <option value="EXENTO">EXENTO</option>
      </select>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!costumerForm.valid"
    >
      Guardar
    </button>
  </form>
</div>

<p>{{ this.costumerForm.value.email }}</p>
<p>{{ costumerForm.status }}</p>
